/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

input,
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 2px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
}

.completed {
    text-decoration: line-through;
}